<!doctype html>
<html lang="en">
  <body>
      <table>
        <thead>
          <td>Network</td>
          <td>IP Address</td>
          <td>Hostname</td>
          <td>Last Scan Date</td>
          <td>Open Ports</td>
        </thead>
        {% for row in host_data %}
        <tr> 
          <td>{{row["Network"]}}</td>
          <td><a href="/hosts/{{row["host_id"]}}">{{row["IP_Address"]}}</a></td>
          <td>{{row["hostname"]}}</td>
          <td>{{row["starttime"]}}</td>
          <td>{{row["openports"]}}</td>	
        </tr>
        {% endfor %}
      </table>
      



      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


  </body>
</html>
