{% extends 'base.html' %}

{% block content %} 

<table class="table table-hover">
  <caption>List of all detected hosts</caption>
  <thead>
    <td>Network</td>
    <td>IP Address</td>
    <td>Hostname</td>
    <td>Last Scan Date</td>
    <td>Open Ports</td>
  </thead>
  {% for row in host_data %}
  <tr class='clickable-row' data-href="/hosts/{{row['host_id']}}" method = POST>
    <td>{{row["Network"]}}</td>
    <td>{{row["IP_Address"]}}</a></td>
    <td>{{row["hostname"]}}</td>
    <td>{{row["starttime"]}}</td>
    <td>{{row["openports"]}}</td>	
  </tr>
  {% endfor %}
</table>

{% endblock %}